<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669719030694-3qgqh0j1uu4bl4sdrtu46cv1rge23som.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669719030694-3qgqh0j1uu4bl4sdrtu46cv1rge23som</string>
	<key>API_KEY</key>
	<string>AIzaSyCVYMTsuGuJj8GlC19cWeyVBEAJIGFu3PU</string>
	<key>GCM_SENDER_ID</key>
	<string>669719030694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aldana.alrashidi</string>
	<key>PROJECT_ID</key>
	<string>project-e871a</string>
	<key>STORAGE_BUCKET</key>
	<string>project-e871a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669719030694:ios:a9c4c6e8f799a84e5efd67</string>
	<key>DATABASE_URL</key>
	<string>https://project-e871a.firebaseio.com</string>
</dict>
</plist>